/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .bord-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 650px;
    text-align: center;
  }
  
  .display-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    background-color: #fafafa;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003d80;
  }
  
  button.delete {
    background-color: #dc3545;
  }
  
  button.delete:hover {
    background-color: #a71d2a;
  }
  
  button.caps-lock {
    background-color: #ffc107;
    color: black;
  }
  button.red {
    background-color: #972e0b;
    color: black;
  }
  button.blue {
    background-color: #1837a8;
    color: black;
  } button.black {
    background-color: #111110;
    color: rgb(251, 255, 247);
  }
  
  button.caps-lock:hover {
    background-color: #e0a800;
  }
  